{% extends 'accounts/email/email_base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5%;"> <!-- Adjusted alignment and margin to move content slightly down -->
  <div style="margin-top: 1rem; text-align: center; max-width: 384px;">
    <h3 style="font-size: 1.25rem; font-weight: bold;">Password Reset Sent</h3>
    <p style="font-size: 0.95rem; color: #555;">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
</div>
{% endblock %}