{% extends 'accounts/email/email_base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 5%;"> <!-- Adjusted alignment and margin to move content slightly down -->
  <div style="max-width: 384px;">
    <h3 style="font-size: 1.25rem; font-weight: bold;">Reset Your Password</h3>
    <p style="font-size: 0.95rem; color: #555;">Enter your new password below.</p>
    <form method="post" style="width: 100%; max-width: 384px; margin-top: 1rem;">
      {% csrf_token %}
      <div style="text-align: left; font-size: 0.85rem; color: #555; margin-bottom: 1rem;">
        <label for="new_password" class="form-label">New Password <span class="form-required">*</span></label>
        <div>
          <input type="password" id="new_password" name="new_password" class="form-input" password required>
        </div>
        {% if form.errors.new_password %}
          <div style="color: #b91c1c; font-size: 0.85rem; margin-top: 0.5rem;">{{ form.errors.new_password|join:" " }}</div>
        {% endif %}

        <ul style="font-size: 0.85rem; color: #555; margin-top: 0.5rem;">
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
          <li>Your new password cannot be the same as your old password.</li>
        </ul>

        <label for="new_password_confirmation" class="form-label" style="margin-top: 1rem;">New Password Confirmation <span class="form-required">*</span></label>
        <div>
          <input type="password" id="new_password_confirmation" name="new_password_confirmation" class="form-input" required>
        </div>
        {% if form.errors.new_password_confirmation %}
          <div style="color: #b91c1c; font-size: 0.85rem; margin-top: 0.5rem;">{{ form.errors.new_password_confirmation|join:" " }}</div>
        {% endif %}
      </div>
      <button type="submit" class="btn-primary" style="margin-top: 1rem;">
        Change Password
      </button>
    </form>
  </div>
</div>
{% endblock %}
